@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@font-face {
    font-family: myriad;
    src: url(../fonts/myriad-pro.ttf);
  }
  @font-face {
    font-family: whiney;
    src: url(../fonts/Whitney-Book.ttf);
  }
/* General */
* { font-family: myriad; }
.container { max-width: 1880px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Playfair Display', serif; }
body { overflow-x: hidden; position: relative; background-image: url(../images/shade.png), linear-gradient(-70deg,#a26e44 50%,#8a4b18 50%) !important; background-image: url(../images/shade.png), -o-linear-gradient(-70deg,#a26e44 50%,#8a4b18 50%) !important; background-image: url(../images/shade.png), -moz-linear-gradient(-70deg,#a26e44 50%,#8a4b18 50%) !important; background-image: url(../images/shade.png), -webkit-linear-gradient(-70deg,#a26e44 50%,#8a4b18 50%) !important; background-image: url(../images/shade.png), -ms-linear-gradient(-70deg,#a26e44 50%,#8a4b18 50%) !important; background-image: url(../images/shade.png), -webkit-gradient(-70deg,#a26e44 50%,#8a4b18 50%) !important; background-attachment: fixed !important; z-index: 1; }
a:hover { text-decoration: none; }
/* Navbar */
.navigation-bar-top { background: #000; }
#navbarCollapse { text-align: center; }
.navbar-nav { width: 100%; }
.nav-link { color: #c0c0c0; text-transform: uppercase; font-size: 24px; transition: 0.3s all ease-in-out; }
.nav-item.nav-link:hover { color: #fff; }
.header-info { margin-top: 40px; }
.social-links ul { list-style: none; padding: 0; margin: 0; text-align: right; }
.social-links li { display: inline-block; color: #fff; padding-left: 30px; }
.social-links li a { color: #fff; font-size: 24px; line-height: 1.4; }
.social-links li a i { display: inline-block; margin-left: 20px; padding: 12px; border: 1px solid; height: 50px; width: 50px; text-align: center; border-radius: 50%; }
.header-info h1 { color: #fff; text-align: right; font-size: 48px; margin: 0; line-height: 1.7; }
.header-info .social-links { margin-top: 20px; }
.hero-section { margin-top: 30px; }
.img-wrapper { position: relative; }
.img-wrapper i { position: absolute; color: #fff; top: 45%; font-size: 120px; font-weight: 300; left: 48%; }
.explore-section { margin-top: 50px; position: relative; }
.section-title { font-size: 50px; color: #532d1a; }
.section-title span { position: relative; display: inline-block; }
.explore-options .row { align-items: center; }
.explore-box { padding: 100px 0; }
.explore-txt { font-size: 30px; color: #fff; }
.explore-title h2 { font-size: 48px; }
.expolre-img { position: relative; }
.expolre-img::before { position: absolute; content: ''; background: url(../images/image-top.png) no-repeat; height: 190px; width: 348px; top: -130px; left: 10%; }
.expolre-img::after { position: absolute; content: ''; background: url(../images/image-bottom.png) no-repeat; height: 190px; width: 348px; bottom: -130px; left: 10%; }
.explore-read-more a { color: #532d1a; font-size: 30px; display: inline-block; margin-top: 20px; }
/* Footer */
.footer-section { padding: 80px 0 30px 0; position: relative; }
.footer-menu ul { padding: 0; list-style: none; margin: 0; display: flex; justify-content: center; }
.footer-menu ul li a { text-decoration: none; color: #fff; font-size: 24px; text-transform: uppercase; }
.footer-menu ul li { margin-right: 24px; padding-right: 24px; border-right: 1px solid #fff; line-height: 1; }
.footer-menu ul li:last-child { margin: 0; padding: 0; border: 0; }
.footer .social-links { padding: 40px 0; }
.footer .social-links ul { text-align: center; }
.site-address { font-size: 24px; color: #fff; }
.site-address p { margin: 0 0 20px 0; }
p.maintainedBy { margin: 60px 0; }
.type-infoTxt p { color: #fff; font-size: 30px; }
.type-infoTxt { margin-top: 35px; }
.fac-title h4 { font-size: 40px; color: #c2aa73; margin-bottom: 25px; }
.factilty-info p { font-size: 30px; color: #c2aa73; }
.facilities-section .row { align-items: center; }
.facilities-section { margin: 150px 0; }
.video-gallery { margin: 40px 0; }
.owl-carousel .item-video { height: 362px; }
.video-gallery .container { position: relative; padding-top: 10px; padding-bottom: 10px; }
.img-reverse img { transform: rotateX(180deg); }
.info-text.gallery-section { padding-right: 13%; }
.margined-top { margin-top: 60px; }
.book-now { display: inline-block; font-size: 30px; text-transform: uppercase; color: #c2aa73 !important; margin-top: 10px; }
.modal-content { background-color: #68686833; }
.modal-body { padding: 8px; }
.img-wrapper video { max-width: 1880px; width: 100%; }

/* Media Query */
@media only screen and (min-width: 1199px) {
  .owl-stage .owl-item.active img {
    transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  .owl-stage .owl-item.active.center img {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
  }

  .info-text.gallery-section { padding-right: 17%; }
}

@media only screen and (min-width: 768px) {
    .navbar-nav { justify-content: center; }
    .navbar .nav-item.nav-link { border-right: 1px solid #c0c0c0; line-height: 1; margin: 0 24px 0 0; padding: 0 24px 0 0; }
    .navbar .nav-item.nav-link:last-child { padding-right: 0; border: 0; }
    .logo { display: inline-block; }
    .logo img { position: relative; top: 50px; }
}

@media only screen and (max-width: 1708px) {
  .header-info h1 { font-size: 40px; }
  .social-links li a { font-size: 20px; }
  .social-links li a i { margin-left: 5px; height: 40px; width: 40px; }
  .img-wrapper i { font-size: 90px; }
  .section-title { font-size: 38px; }
  .explore-title h2 { font-size: 32px; }
  .explore-txt { font-size: 24px; }
  .explore-read-more a { font-size: 20px; }
  .expolre-img { max-width: 200px; width: 100%; margin: 0 auto; }
  .expolre-img::before { height: 140px; width: 258px; top: -90px; left: -15%; background-size: cover; }
  .expolre-img::after { height: 140px; width: 258px; bottom: -90px; left: -15%; background-size: cover; }
  .nav-link { font-size: 20px; }
  .footer-menu ul li a { font-size: 20px; }
  .site-address { font-size: 20px; }
  p.maintainedBy { margin: 30px 0; }
  .footer-section { padding: 40px 0 10px 0; }
  .type-infoTxt p { font-size: 24px; }
  .owl-carousel .item-video { height: 322px; }
  .info-text.gallery-section { padding-right: 17%; }
}

@media only screen and (max-width: 1366px) {
  .header-info h1 { font-size: 38px; }
  .social-links li a { font-size: 16px; }
  .social-links li a i { margin-left: 5px; height: 40px; width: 40px; }
  .img-wrapper i { font-size: 80px; }
  .section-title { font-size: 35px; }
  .explore-title h2 { font-size: 30px; }
  .explore-txt { font-size: 20px; }
  .explore-read-more a { font-size: 18px; }
  .nav-link { font-size: 18px; }
  .footer-menu ul li a { font-size: 18px; }
  .site-address { font-size: 18px; }
  p.maintainedBy { margin: 30px 0; }
  .footer-section { padding: 40px 0 10px 0; }
  .type-infoTxt p { font-size: 20px; }
  .owl-carousel .item-video { height: 256px; }
  .facilities-section { margin: 90px 0; }
  .factilty-info p { font-size: 20px; }
  .info-text.gallery-section { padding-right: 17%; }
}

@media only screen and (max-width: 992px) {
  .logo img { top: 0; }
  .logo img { max-width: 145px; }
  .social-links li { padding-left: 20px; }
  .header-info .social-links { margin-top: 6px; }
  .header-info h1 { font-size: 30px; }
  .social-links li a { font-size: 16px; }
  .social-links li a i { margin-left: 5px; height: 40px; width: 40px; }
  .img-wrapper i { font-size: 80px; }
  .explore-title h2 { font-size: 25px; }
  .section-title { font-size: 30px; }
  .explore-box { padding: 80px 0; }
  .explore-txt { font-size: 18px; }
  .explore-read-more a { font-size: 18px; }
  .nav-link { font-size: 16px; }
  .footer-menu ul li a { font-size: 16px; }
  .site-address { font-size: 16px; }
  p.maintainedBy { margin: 30px 0; }
  .footer-section { padding: 40px 0 10px 0; }
  .type-infoTxt p { font-size: 18px; }
  .type-infoTxt p br { display: none; }
  .factilty-info p { font-size: 16px; }
  .fac-title h4 { font-size: 20px; }
  .explore-title { margin-top: 40px; }
  .book-now { font-size: 20px; }
}

@media only screen and (max-width: 991px) {
  .logo img { max-width: 120px; }
  .social-links li { padding-left: 20px; }
  .header-info .social-links { margin-top: 6px; }
  .header-info h1 { text-align: left; }
  .social-links li a { font-size: 16px; }
  .social-links li a i { margin-left: 5px; height: 40px; width: 40px; }
  .img-wrapper i { font-size: 80px; }
  .explore-title h2 { font-size: 25px; }
  .section-title { font-size: 30px; }
  .explore-box { padding: 80px 0; }
  .explore-txt { font-size: 18px; }
  .explore-read-more a { font-size: 18px; }
  .nav-link { font-size: 14px; }
  .footer-menu ul li a { font-size: 14px; }
  .site-address { font-size: 16px; }
  p.maintainedBy { margin: 30px 0; }
  .footer-section { padding: 40px 0 10px 0; }
  .navbar .nav-item.nav-link { margin: 0 15px 0 0; padding: 0 15px 0 0; }
  .type-infoTxt p { font-size: 17px; }
}

@media only screen and (max-width: 767px) {
  .social-links li { padding-left: 20px; }
  .header-info .social-links { margin-top: 6px; }
  .header-info { margin-top: 15px; }
  .hero-section { margin-top: 15px; }
  .header-info h1 { text-align: center; font-size: 24px; }
  .social-links ul { text-align: center; }
  .social-links li a { font-size: 16px; }
  .social-links li a i { margin-left: 5px; height: 40px; width: 40px; }
  .img-wrapper i { font-size: 80px; }
  .explore-title h2 { font-size: 25px; }
  .section-title { font-size: 30px; }
  .explore-txt { font-size: 14px; }
  .explore-read-more a { font-size: 18px; }
  p.maintainedBy { margin: 0 0 10px; }
  .footer-section { padding: 40px 0 10px 0; }
  .navbar .nav-item.nav-link { margin: 0 15px 0 0; padding: 0 15px 0 0; }
  .explore-box.text-right { text-align: center !important; }
  .expolre-img::before, .expolre-img::after { display: none; }
  .explore-box.text-right, .explore-box { text-align: center !important; padding: 0; }
  .explore-section { margin-top: 25px; }
  img[alt="left"], img[alt="right"] { width: 100px; }
  .explore-options:nth-of-type(2n+1) .row { flex-direction: column-reverse; }
  .explore-txt br { display: none; }
  .explore-options { padding: 20px; border: 1px solid #fff; border-radius: 21px; margin-bottom: 15px; }
  .explore-title { margin-top: 20px; }
  .explore-section h2 { margin-bottom: 25px; }
  .footer-menu { display: none; }
  .footer .social-links { padding: 0 0 20px; }
  .site-address { font-size: 14px; }
  .site-address p { margin-bottom: 10px; }
  .navbar-toggler-icon { position: relative; }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before { position: absolute; content: '\f00d'; font-size: 32px; font-family: fontAwesome; color: #fff; left: 0; }
  .navbar-toggler-icon::before { position: absolute; content: '\f0c9'; font-size: 32px; font-family: fontAwesome; color: #fff; left: 0; }
  /* Menus */
  #navbarCollapse { text-align: center; position: absolute; left: 0; right: 0; width: 100%; background: #000; z-index: 99; top: 89px; border-bottom-left-radius: 21px; border-bottom-right-radius: 21px; }
  .nav-link { font-size: 16px; font-weight: 500; text-transform: capitalize; padding: 10px 0 !important; margin: 0 !important; border: 0 !important; border-bottom: 1px solid !important; }
  .nav-item.nav-link:last-child { border-bottom: 0 !important; }
  .expolre-img::before, .expolre-img::after { display: block; }
  .explore-options { padding-top: 110px; }
  .explore-box { padding-top: 90px !important; }
  .type-infoTxt p { font-size: 16px; }
  .factilty-info { text-align: center !important; }
  .facility-img { margin: 20px 0; }
  .facilities-section { margin: 30px 0; }
  .info-text.gallery-section { padding-right: 0; }
  .book-now { font-size: 18px; }
  .video-gallery { margin: 40px 0 0; }
}

@media only screen and (max-width: 480px) {
  .explore-section h2 { margin-bottom: 20px; font-size: 22px; }
  .explore-title img[alt="left"], .explore-title img[alt="right"] { display: none; }
  .img-wrapper i { font-size: 60px; top: 30%; left: 45%; }
  body { background-image: url(../images/shade.png), -webkit-linear-gradient(-70deg,#A26E45 20%,#8a4b18 19%) !important; }
  .book-now { font-size: 16px; }
  .gallery-top-bottom-img img { max-width: 300px }
}